.slider-wrap {
    width: 980px;
    height: 400px;
    position:relative;
    padding:0 0 50px 0;

    a {
        -webkit-transition:all ease-out 0.5s;
        -moz-transition:all ease-out 0.5s;
        -o-transition:all ease-out 0.5s;
        -ms-transition:all ease-out 0.5s;
        transition:all ease-out 0.5s;
    }

    img {
        width: 100%;
        height: 100%;
        float:left;
    }

    span {
        position: absolute; 
        background: #CCC; 
        cursor: pointer; 
        opacity: 0;    
        bottom: 50%; 
        width: 43px; 
        height: 43px; 
        z-index: 5;
    }

    figcaption {
        width: 100%;
        position: absolute;
        padding: 10px;
        font-size: 22px; 
        background: black; 
        color: #fff; 
        bottom: 0; 
        left: 0; 
        z-index: 5;
    }
}

.slider-wrap:hover span {
    opacity: 0.76;
    filter:alpha(opacity=76);
}   

.slider {
    width: auto;
    height:100%;
    float: left;
    
    a{ 
        width:100%;
        height:100%;
        position: absolute; 
        top: 0; 
        left: 0; 
        opacity: 0;
        filter:alpha(opacity=0);
    }

}

.active {
    opacity: 1 !important; 
    filter:alpha(opacity=100) !important;
}


.next {right: 10px;}

    .next:before,.next:after {left: 21px;}

    .next:before {
        -webkit-transform: rotate(-42deg);
        top: 5px;
    }

    .next:after {
        -webkit-transform: rotate(-132deg);
        top: 19px;
    }

    .next:before, .next:after, .prev:before, .prev:after {
        content: "";
        height: 20px;
        background: #fff;
        width: 1px;
        position: absolute;
    }


.prev {left: 10px;}

    .prev:before,.prev:after {left: 18px;}

    .prev:before {
        -webkit-transform: rotate(42deg);
        top: 5px;
    }

    .prev:after {
        -webkit-transform: rotate(132deg);
        top: 19px;
    }

.pagination {
    padding: 0;
    margin: 0;
    position: absolute;
    z-index: 99;
    bottom:-50px;
    left:40%;
}